body {
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-areas: 
    "area-1 area-2";
}

main {
    padding: 1.25em 2em 2.5em 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 9fr;
    gap: 1em;
    grid-template-areas:
    "area-1"
    "area-2";
}

.topbar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

    > i {
        font-size: 20px;
    }


    .profile-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
        .profile-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 8px;

            background-color: var(--primary-muted);
            color: var(--text-muted);
            
            font-weight: 500;
        }
    }
}

.quiz-wrapper {
    background-color: var(--bg-light);
    box-shadow: var(--shadow);

    border-radius: 10px;
    padding: 1.25em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;

    .quiz-header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

        .quiz-title-wrapper {
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
            "area-1 area-2 area-4"
            "area-1 area-3 area-3";
            gap: 0.25em 0.25em;

            img {
                padding-top: 6px;
            }
        }

        h2 {
            font-family: 'Quicksand';
            font-weight: 700;
            color: var(--text);


        }

        #quiz-info-popover-wrapper {
            width: fit-content;
            position: relative;
            display: flex;
            align-items: flex-end;
            padding-bottom: 3px;

            #quiz-info-popover-button {
                border: none;
                background: none;

                i {
                    font-size: 16px;
                    color: var(--border);
                
                    transition: 100ms ease-in-out;
                    transition-property: color;

                    &:hover {
                        color: var(--border-muted);
                    }
                }
            }

            #quiz-info-popover-menu {
                background-color: var(--bg-alt);
                border: 2px solid var(--border-muted);
                
                padding: 0.5em 0.75em;
                border-radius: 6px;
                width: fit-content;
                display: none;
                position: absolute;
                flex-direction: column;
                gap: 0.5em;

                top: 50%;
                margin-top: 14px;

                h4 {
                    white-space: nowrap;
                }

                span {
                    color: var(--text-extra-muted);
                }
            }

            &:hover #quiz-info-popover-menu {
                display: flex;
            } 
        }

        .quiz-progress-wrapper {
            display: flex;
            justify-content: flex-end;

            > div {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto auto;
                grid-template-areas:
                    "area-1 area-1"
                    "area-2 area-3";
                gap: 0 0.5em;
                align-items: center;

                .quiz-progress-bar-wrapper {
                    display: flex;
                    gap: 4px;

                    .quiz-progress-bar {
                        width: 140px;
                        height: 14px;
                        background-color: var(--bg-dark);
                        border-radius: 28px;
                    }

                    #progress-bar-part-1 {
                        background: linear-gradient(90deg, var(--primary) 17%, var(--bg-dark) 17%);
                    }

                    #progress-bar-part-2 {
                        background: linear-gradient(90deg, var(--primary) 0%, var(--bg-dark) 0%);
                    }
                }
            }
        }
    }

    .quiz-main-wrapper {
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 2em;
        padding-bottom: 2em;

        .quiz-question-wrapper {
            margin: auto;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas:
            "area-1 area-2"
            "area-1 area-3";
            gap: 0em 1.5em;
        }

        .quiz-choices-wrapper {
            list-style: none;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.75em;

            .quiz-choice {
                background-color: var(--bg-alt);
                border: 2px solid var(--border-muted);

                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 1.5em;
                padding: 0.75em 1em;

                transition: 125ms ease-in-out;
                transition-property: border-color background-color;

                &:hover {
                    border-color: var(--border);
                }

                &:has(input:checked) {
                    border-color: var(--primary);
                    background-color: var(--bg-light);
                }

                input {
                    background-color: var(--bg-light);
                    border: 2px solid var(--border-muted);

                    position: relative;
                    appearance: none;
                    width: 20px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;

                    transition: 100ms ease-in-out;
                    transition-property: border-color background-color;

                        &::after {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            content: "";
                            background-color: var(--bg-light);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                        }

                    &:hover {
                        border-color: var(--border);
                    }

                    &:checked {
                        border-color: var(--primary);

                        &::after {
                            background-color: var(--primary);
                        }
                    }
                }
            }
        }

        .quiz-buttons-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            button {
                background-color: var(--primary);
                color: var(--bg-light);

                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                font-size: 1em;
                padding: 1em 2.5em;
                border-radius: 8px;

                transition: 100ms ease-in-out;
                transition-property: opacity;

                &:hover {
                    opacity: 0.9;
                }
                &:active {
                    opacity: 0.7;
                }
            }
        }
    }
}